# macOS Files
.DS_Store
.idea

env/
commits/ardupilot.json
commits/betaflight.json
commits/cleanflight.json
commits/inav.json
commits/paparazzi.json
commits/PX4-Autopilot.json

pulls/ardupilot.json
pulls/betaflight.json
pulls/cleanflight.json
pulls/inav.json
pulls/paparazzi.json
pulls/PX4-Autopilot.json